
{
  box-sizing: border-box;
}

body {
font-family: "Georgia", Times, serif;
color: #777;


}
  
  
main{
background-image: url("photos/backroundImage.png");
margin: 0 auto;

  
}

.container{
  
  margin: 0 auto;
  padding: 1px;
  width: 100%;
  
  
  

}

.nav-item{
  float: right;
 
}


.navbar{
background:white;
text-decoration: none;


}

.navbar-brand{
background: #4aaaa5;
padding: 20px;
text-align: center;
color:white;
float: left;
text-decoration: none;





}




ul a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

ul a:first-child {
  border-left: 0 none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  
  
}

li {
  float: left;
}

li a {
  display: block;
  color: #777777 ;
  text-align: center;
  padding: 20px;
  
  
  
}


  
.aboutMe{
  
  color:#777777;
  font-weight: bold;
  padding:5px;
  

}

.section{
  color:#777777;
  background: white;
  margin: 40px 0px 90px 0px;
  padding:20px;
  
  

}


  
img {
  float: left;
  padding-right: 20px;
}


footer{
  background:#666666;
  text-align: center;
  color: white ;
  height: 50px;
  border-top: 12px solid #dddddd;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: auto;
}






input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd ;
  color:black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #777777;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 1px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contactContainer {
  border: 1px; solid #dddddd;
  background-color: #ffffff;
  color:#777777;
  
}

img{
  width:250px;
  height:250px;
  padding:10px;
  align-content: left;
}

